:root { --azul: #004a99; --blanco: #fff; --rojo: #cc0000; --verde: #28a745; }

.main-header {
    height: 110px;
    background: var(--blanco);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 40px;
    border-bottom: 6px solid var(--azul);
}

#reloj {
    font-size: 5.8rem; /* Tamaño máximo para el centro */
    font-weight: 900;
    color: #1a1a1a;
    font-family: 'Arial Black', sans-serif;
    letter-spacing: -3px;
}

#clima-alerta {
    background: var(--verde);
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#clima-icono { width: 55px; height: 55px; filter: brightness(0) invert(1); }
.clima-info-box { display: flex; flex-direction: column; line-height: 1.1; }
#clima-texto { font-size: 0.8rem; font-weight: bold; }
#clima-temp { font-size: 2.3rem; font-weight: 900; }
