name: Actualizar Noticias Automático

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Necesario para poder hacer el pull/push correctamente

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Ejecutar script
        env:
          CLIMA_KEY: ${{ secrets.OPENWEATHER_API_KEY }}
        run: python actualizar_noticias.py

      - name: Guardar cambios
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add data.json
          git commit -m "Actualización automática de datos" || echo "No hay cambios para guardar"
          git pull --rebase origin main
          git push origin main

